.container {
  min-width: 650px;
  min-height: 450px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
  padding-top: 5px;
  height: fit-content;
}

.header {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.header::-webkit-scrollbar {
  height: 7px;
  border-radius: 20px;
}
.header::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #808080;
}
.header .section {
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}
.header .active {
  border-bottom: 2px solid #239ce2;
  color: #239ce2;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail .row {
  display: flex;
  gap: 20px;
}
.detail .coloumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail .row > div {
  flex: 1;
}
.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.chips .new {
  color: #239ce2;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.chip {
  display: flex;
  align-items: center;
  border-radius: 15px;
  gap: 5px;
  padding: 4px 8px;
  background-color: #808080;
  cursor: default;
}
.chip p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.chip svg {
  height: 18px;
  width: 18px;
  color: #fff;
  cursor: pointer;
}

.chips .active {
  background-color: #239ce2;
}
.body button {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #239ce2;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  gap: 5px;
  align-items: center;
  display: flex;
  transition: 200ms;
}
.body button:active {
  transform: translateY(2px);
}
